<div class="container">
  <weather-card
    [cityInfo]="todayWeather.city"
    [todayWeather]="todayWeather.list[0]"
  ></weather-card>
  <div class="details">
    <div class="info">
      <div>
        <h4>PRECIPITATION</h4>
        <span>{{ todayWeather.list[0].clouds.all }} %</span>
      </div>
      <div>
        <h4>HUMIDITY</h4>
        <span>{{ todayWeather.list[0].main.humidity }} %</span>
      </div>
      <div>
        <h4>WIND SPEED</h4>
        <span>{{ todayWeather.list[0].wind.speed }} km/h</span>
      </div>
    </div>
    <days-state [forecastList]="uniqueDays"></days-state>
    <div class="box">
      <search-bar
        [isVisible]="searchBar"
        (EmitCity)="getWeatherByCityName($event)"
        #searchBarComponent
      ></search-bar>
      <search-btn
        [visible]="!searchBar"
        (click)="focusOnClick()"
      >Search Location</search-btn>
    </div>
  </div>
</div>
