/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:is(*, ::before, ::after) {
  text-transform: capitalize;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

img {
  user-select: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: #37474f;
}

input {
  background: transparent;
  border: transparent;
}
